<section class="section">
    <div class="container">
        <h2>Welcome, <%= user.name %>!</h2>
        <p>Email: <%= user.email %></p>

        <a class="btn btn-outline" href="/auth/logout">Logout</a>
    </div>
</section>
